*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
  color: #fff;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 20px;
  display: flex;
  gap: 30px;  
  flex-wrap: wrap;
}
.card{
  height: 330px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px ;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #111;
}

.top button img{

}

.center{
  color: black;
}

.center h3{
  font-size: 20px;
  font-weight: 500;
  color: #111;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #111;
}

.center h2{
  font-size: 20px;
  color: black;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 6px;
}

.center .tag h4{
  font-size: 18px;
  background-color: #dadada;
  color: #111;
  font-weight: 400;
  padding: 5px 9px;
  border-radius: 5px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px ;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
  color: #111;
}

.bottom p{
  font-size: 12px;
  color: #111;
}