html,body{
  height: 100%;
  width: 100%;
}

button{
  padding: 10px 20px;
  margin: 20px;
}
h1{
  background-color: rgb(161, 149, 149);
  width: fit-content;
  font-size: 100px;
  padding: 50px 80px;
  border-radius: 5px;
  margin: 20px;
}